 .healthy-me{
    font-size : .7rem;
    width : 70%;
    height : 30px;
    position : absolute;
    left : 0;
    top : 0;
  }
  .healthy-me >h1{
    font-family: cursive;
  }
/* Hamburger for responsive website */
    .hamburger{
    position : absolute;
    right : .7rem;
    top : .6rem;
  }
  .bar{
    height : 3px;
    width : 25px;
    background-color : #fff; 
    border-radius : 10px;
    margin : 3px;
  }
  
  .v-resp{
    display : none;
  }
  
  header nav ul{
    display : flex;
    transition : all 0.7s ease-out;
  }
  header nav ul{
    flex-direction : column;
    justify-content : space-around; 
    width: 100%;
    margin-top : 1.5rem;
    transform : translate-X(100%);
  }
  nav ul a{
    font-family: 'Poppins', sans-serif;
    padding : .3rem; 
    margin : 5px;
    text-align : center;
    border-radius : 5px;
  }
  
  header{
    flex-direction : column;
    align-items : flex-start; 
    justify-content : space-between; 
    /*border : 3px solid white;*/
    padding :.5em .3em;
    margin : 0 auto;
    background-color : rgba(0,0,0,0.2);
  } 
  header nav{
    width : 100%;
  }
  
  
  .top-content h1,h3{
    text-align : center; 
    margin-top : .3em;
  }
  .mid-content{
    width: 100vw;
    margin-top: .1em;
    padding: 1em;
    background-color: #f5f6fa;
}
  .tools{
    flex-direction : column;
    align-items : center;
    justify-content : center;
    text-align : center;
  }
  #services-info{
    flex-direction : column ; 
  }
  #services-info h1{
    margin-bottom : 30px;
  }
  .card1,.card2,.card3{
    margin : 7px;
    border-radius : 5px;
    
  }
  .portfolio{
    background-color: #547ee0;
    margin-top : 30px;
  } 
  .tools-images{
    flex-direction : column;
  }
  .card-img{
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 15px;  
  }
  /* .tools-images .card-img img{
    height : 300px;
    width : 420px;
  } */
  