*{
  margin-top : 0px;
  margin-left : 0px;
  scroll-behavior : smooth;
}

header{
    width: 100%;
    padding : 5px;
    position: sticky;
    top: 0px;
    transition: .6s;
    background-color : #ebfeff;
    color : #ffffff;   
}
li,a{
    list-style: none;
    text-decoration: none;
}

/* nav tag of index.html */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 90vw;
}

/* logo div*/
nav>.logo{
    padding: 5px;
    width: 30%;
}
/* main logo */
.logo>img{
    width: 60px;
    height: 60px;
}

/**********************
styling navigation bar
**********************/
nav .navbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3em .9em;
}
.navbar li a{
    font-size: 0.7rem;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color : #ebfeff;
}
.navbar li .nav-link{
    color: black;
    transition: all .4s;
    border-radius : 35px;
    margin-bottom : 3px;
}
/* home button */
#active{
    color: #ffffff;
    background-color: #1dc5d1;
    border-radius : 35px;
}
.navbar li .nav-link:hover{
    color: #ffffff;
    background-color: #1dc5d1;
    border-radius : 35px;
}
#active:hover{
    color: #ffffff;
    background-color: #1dc5d1;
    border-radius : 35px;
}
 
#organisation{
  /*border : 3px solid black;*/
  text-align : center; 
  margin-top : 30px;
  padding-bottom : 60px; 
  left : 0;
  color : #1dc5d1;
  border-bottom : 1px solid #1dc5d1;
  font-family: 'Poppins', sans-serif;
}
#organisation h1{
  color : #1dc5d1; 
  margin-bottom : 50px;
  border-bottom : 3px solid #1dc5d1;
  margin-left : 20px;
  margin-right : 20px;
  height : 10vh;
  border-radius : 35px;
}
#organisation h2{
  margin-top : 30px;
}
#organisation img{
  height : 100px;
  width : 100px;
  
}


#container{
 /* border : 3px solid black;*/
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  width : 100vw;
  text-align : center;
  font-family: 'Poppins', sans-serif;
}
#container h1{
  color : #1dc5d1;
  margin-top : 60px;
  margin-bottom : 50px;
  border-bottom : 3px solid #1dc5d1;
  border-radius : 35px;
  width : 200px;
  height : 10vh;
}
.team{
  /*border : 3px solid red;*/
  background-color : #ebfeff;
  width : 52vw;
  margin : 30px;
  box-shadow : 5px 5px 10px #1dc5d1;
  padding : 10px;
  font-family: 'Poppins', sans-serif;
}
.team img{
  height : 100px;
  width : 100px;
  border-radius : 50%;
}
.icons a{
   color : #1dc5d1;
   font-size : 1.5rem;
   margin : 10px 0px;
}
.icons i{
  margin : 10px;
}

footer{
  background-color : black;
  margin-top : 60px;
  width : 100vw;
  font-family: 'Poppins', sans-serif;
}
footer p{
  color : #1dc5d1;
  text-align : center;
  padding : 10px;
}

/* JavaScript */
.sticky{
    /* background-color: rgba(0, 0, 0, 0.129); */
    padding: .3em 0;
    border-bottom: none;
}
header.sticky .navbar{
    width: 90%;
    justify-content: space-around;
}
header.sticky .logo{
    display: none;
}
header.sticky .nav-link{
    color: black;
    /*background-color: rgba(0, 0, 0, 0.492);*/
    background-color : #ebfeff;
}
header.sticky #active{
    background-color: #1dc5d1;
    color: #ffffff;
}